<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta
  name="description"
  content="Live one-on-one online tutoring sessions in english academic writing and ecology for university students and other adults. Freelance reviewer and technical editor."
/>
<meta name="keywords"
content="biology, university, universities, education, english, ecology, ESL help, online learning, distance learning, academic writing, tutor, tutoring, editor, reviewer, academic reviewer, technical editor, wetlands, wetland, mountain, animal behavior, animal behaviour, behavioural ecology, behavioral ecology, english writing help" />
<link rel="stylesheet" href="/assets/css/common.css">
<meta name="author" content="Idhi R" />
<link rel="shortcut icon" href="/assets/img/SR_logo_g.png" type="image/png">