/* Fonts */

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Kalam";
  src: url("/assets/fonts/Kalam-Bold.ttf") format("truetype");
}

/* Root elements */

* {
  margin: 0;
  font-family: "Roboto";
}
body,
html {
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
body {
  margin-top: 50px;
}

/* Default elements */

h1 {
  font-size: 36px;
  justify-content: center;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 30px;
  padding-top: 15px;
  padding-bottom: 5px;
}
p {
  font-size: 22px;
  justify-content: center;
  text-align: left;
  line-height: 1.5;
}
input {
  margin: 5px;
}
.footer {
  padding: 0px;
  display: flex;
  justify-content: center;
}
.footer_words {
  font-size: 14px;
  margin: 0px;
  line-height: 0.5;
}
/* add list stuff*/

/* Elements by id */


/* Layouts */

.pad {
  margin: 10px;
}
.column {
  display: flex;
  flex-direction: column;
}
.flexCenter {
  justify-content: center;
}
.column > * {
  margin-bottom: 10px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.small {
	font-size: 20px;
	font-style: italic;
}
.citation {
	font-size: 24px;
}

/* Items */

.headerimg > img {
  max-width: 1000px;
  width: 100%;
  height: auto;
  justify-content: center;
}

.navbar {
  position: fixed;
  top: 0;
  margin: auto;
  max-width: 1000px;
  width: 100vw;
  display: flex;
  background-color: #0d0c11;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.35rem;
  height: 50px;
  box-shadow: 0px 3px 1px -3px #0d0c11;
}
.navbar > div {
  text-align: center;
  /* width: 100%; */
  /* height: auto; */
}
.navbar a {
  font-family: "Roboto";
  color: #fbf6e4;
  text-decoration: none;
  text-align: center;
}
/** change color on hover**/
.navbar a:hover {
  background-color: #fbf6e4;
  color: #0d0c11; /**change**/
  /* padding: 15px; */
}
/* figures*/
figure {
	border: thin #808d2c solid;
    display: flex;
    flex-flow: column;
    max-width: 550px;
    margin: auto;
}
figcaption {
	background-color: #635331;
    color: #fbf6e4;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
.figimg {
	max-width: 550px;
	max-height: 400px;
}

li {
  font-size: 20px;
  line-height: 1.2;
  margin: 5px;
}
/* @media screen and (max-width: 800px) {
  .navbar {
    position: fixed;
    width: 100%;
    overflow: hidden;
    padding: 2px;
    font-size: 32px;
  }
}
@media screen and (max-width: 600px) {
  .navbar {
    position: relative;
    width: 100%;
    overflow: hidden;
    font-size: 19px;
    margin-bottom: 30px;
  }
} */
