body,
html {
  color: #485113 /**313939/**#35506a**/;
  background-color: #f1e8e0 /**f0ede7**/;
  font-family: "Kalam", cursive;
}

/* Default elements */

h1 {
  color: #2c2c0d /**35506a/**#313939**/;
}
h2 {
  color: #ab9045 /**646c53**/;
}
h3 {
  color: #b8a982 /**466d52**/;
}
footer {
  background-color: black;
  color: white;
}

/* Elements by id */

#tags {
  color: #7d742a /**cea854/**8e966f**/;
  font-style: italic;
  text-align: center;
}
