* {
	margin: 0;
}

@font-face {
	font-family: "Roboto",
	src: url("./fonts/Roboto-Regular.ttf") format("ttf");
}

body, html {
	font-color:#0e1d01;
	background-color:#adb09d;
	padding: 0px;
	font-family: "Roboto", sans-serif;
}

.navigation_bar {
	position: relative;
	top:0;
	width: 100%;
	overflow: hidden;
	display: flex;
	width: 20%;
	background-color: #adb09d; 
	justify-content: space-around;
	font-size: 32px;
}
.navigation_bar > div {
	text-align: center;
	margin: 10px;
	width: 20%;
}
.navigation_bar a {
	color: #0e1d01;
	padding: 5px 5px;
	text-decoration: none;
	text-align: center;
}
/** change color on hover**/
.navigation_bar a:hover {
	background-color: #0e1d01;
	color: #adb09d;
}
@media screen and (max-width: 800px) {
	.navigation_bar {
		position: relative;
		top: 0px;
		width: 20%;
		overflow: hidden;
		padding: 6px;
		font-size: 22px;
			}
}
@media screen and (max-width: 600px) {
	.navigation_bar {
		position: relative;
		top: 0px;
		width: 100%;
		overflow: hidden;
		padding: 6px;
		font-size: 22px;
			}
}

.section_header {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-top: 40px;
}
.section_header > img {
	width: 50vw;
	height: auto;
}
.section_header > div {
	width: 40vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.first_sec {background-color: #0d0c11;}
.second_sec {background-color: #466c46;}
.third_sec {background-color: #8d6827;}
.fourth_sec {background-color: #50766f;}
.header_title {
	text-align: center;
	color: #7f8d72;
	margin-top: 15px;
}
@media screen and (max-width: 800px) {
	.section_header > img {width: 100vw; height: auto;}
}
@media screen and (max-width: 800px) {
	.section_header > div {width: 100vw; height: auto;}
}

h1 {
	color:#839402;
	font-size: 44px;
	margin: 0;
	padding: 10px;
}
@media screen and (max-width: 800px) {
	h1 {font-size: 32px;}
}
@media screen and (max-width: 600px) {
	h1 {font-size: 28px;
		padding: 2px;}
}

h2 {font-size: 40px;
	text-align: center;
	margin: 0;
	padding-top: 20px;
	color:green;
}
@media screen and (max-width: 800px) {
	h2 {font-size: 28px;}
}
@media screen and (max-width: 600px) {
	h2 {font-size: 26px;}
}

h3 {font-size: 26px;
	text-align: center;
	margin: 0;
	padding: 10px;
}
@media screen and (max-width: 800px) {
	h3 {font-size: 26px;}
}
@media screen and (max-width: 600px) {
	h3 {font-size: 24px;}
}

p {
	font-size: 24px;
	text-align: left;
	margin: 5px;
	margin-left: 50px;
	padding: 15px;
	line-height: 1.25;
}
@media screen and (max-width: 800px) {
	p {font-size: 22px;
		padding: 7px;
		margin: 7px;
	}
}
@media screen and (max-width: 600px) {
	p {
		font-size: 20px;
		padding: 4px;
		margin: 5px;
	}
}

strong {color: blue;}
#tags {
	color:red;
	font-style: italic;
	text-align: center;
}
.columns {
	float: left;
}
.columns_home {
	justify-content: center;
	width: 90%;
}
.column.main {
	width: 75%;
}
.column.side {
	width: 24%;
	padding:2px;
}
@media screen and (max-width: 800px) {
	.columns_home, .column.main, .column.side {
		width: 100%;
		padding: 2px;
	}
}
.citation {
	font-style: italic bold;
}

ul.circle {
	/**list-style-image: url('/list_round.jpg');**/
	list-style-type: circle;
	padding: 5px 20px 2px 85px;
	overflow: hidden;
	top: 0;
}
li{
	font-size: 24px;
	line-height:1;
	letter-spacing:1px;
	color:#214c51;
	margin: 5px;
}
ul.square {
	list-style-type: square;
	padding: 5px 20px 2px 85px;
	overflow: hidden;
	top: 0;
}
/** color for the links**/
.link-color {
	color: #455652;
}
.footer {
	padding: 0px;
	text-align: center;
	background-color: #214c51;
	color: #e4f9c1;
	font-size: 16px;
	margin: 0px;
	line-height: .90;
}
@media screen and (max-width: 600px) {
	.footer{
		font-size: 12px;
	}
}

/** ECOLOGY TEMPLATE **/
.ecology_temp {	display: center;}
.ecology_temp > img {
	width: 100%;
	display: flex;
	justify-content: center;
}
.ecology {color:#2f512b;}
.ecology_side {background-color: #cdf9c5;}

/**EDUCATION TEMPLATE**/
.education_temp {display: center;}
.education_temp > img {
	width: 100%;
	display: flex;
	justify-content: center;
}
.education_side {background-color: #daf5f0;}
.education {justify-content: center;}
