* {
	margin: 0;
}
/**tree spruce: tree_spruce_branch_colorpalette_ju5l6
but also should try: grass_plant_grass_family_colorpalette_7sp08
and
eyewear_glasses_vision_care_colorpalette_canmi
**/
@font-face {
	font-family: "Roboto",
	src: url("./fonts/Roboto-Regular.ttf") format("ttf");
}
body, html {
	font-color:#474316;
	background-color:#fbf6e4;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	font-family: "Roboto", sans-serif;
}

.navigation_bar {
	position: fixed;
	top:0;
	margin: auto;
	max-width: 1000px;
	width: 100%;
	overflow: hidden;
	display: flex;
	padding-bottom: 5px;
	background-color:#0d0c11; 
	justify-content: space-around;
	font-size: 32px;
}
.navigation_bar > div {
	text-align: center;
	width: 100%;
	height: auto;
}
.navigation_bar a {
	color: #fbf6e4;
	text-decoration: none;
	text-align: center;
}
/** change color on hover**/
.navigation_bar a:hover {
	background-color: #fbf6e4;
	color: #0d0c11; /**change**/
	padding: 15px;
}
.title_curve {
	background-color: black;
	width: 45%;
	height: 290px;
	border-bottom-left-radius: 0% 0%;
	border-bottom-right-radius: 40% 85%;
	background-color: #232323;
}
.curve_navvi {
	background-color: grey;
	width: 20%;
	height: 290px;
	border-bottom-left-radius: 0% 0%;
	border-bottom-right-radius: 65% 95%;
	background-color: blue; 
}
.box {
	width: 100%;
	height: 1px;
	background-color: #232323;

}