* {
	margin: 0;
}
/**color palette: insect_flora_membrane_winged_insect_colorpalette_xiy9a**/;
@font-face {
	font-family: "Kalam",
	src: url("./fonts/Kalam-Bold.ttf") format("ttf");
}

body, html {
	color:#313939/**#35506a**/;
	background-color:#f0ede7;
	font-family: 'Kalam', cursive;
	max-width: 1000px;
	width: 100%;
	margin: auto;
	justify-content: center;
	align-content: center;
}
.navbar {
	position: relative;
	margin-top:0;
	width: 100%;
	overflow: hidden;
	display: flex;
	background-color: black; 
	justify-content: center;
	font-size: 30px;
}
.navbar a {
	color: #f0ede7;
	padding: 0px 15px;
	text-decoration: none;
	text-align: center;
}
/** change color on hover**/
.navbar a:hover {
	background-color: #f0ede7;
	color: black;
}
.headerimg > img {
	width: 100%;
	height: auto;
}
h1 {
	font-size: 36px;
	justify-content: center;
	color: #35506a/**#313939**/;
}
h2 {
	font-size: 30px;
	color: #646c53;
}
h3 {
	font-size: 30px;
	color: #466d52;
	padding-bottom: 5px;
	padding-top: 15px;
}
p {
	font-size: 22px;
	justify-content: center;
	text-align: left;
	line-height: 1.5;
}
#tags {
	color:#8e966f;
	font-style: italic;
	text-align: center;
}
.column {
	float: left;
}
.column.left {
	width: 75%;
}
.column.right{
	width: 22%;
	padding: 5px;
	background-color: #c3bf9f;
	float: right;
}
/*@media screen and (max-width: 850px) {
	.navbar {
		margin: 0px;
		position: absolute;
		width: 100%;
			}
}
 
.column {
	float: left;
/** iwant to change the background color, but only for the edu template
	background-color: #ececbe;/f3f3bd**/
/*.column.left {
	width: 75%;
}
.column.right {
	width: 25%;
}
@media screen and (max-width: 600px) {
	.column.left, .column.right {
		width: 100%;
	}
}

h1{
	font-size: 56px;
	text-align: center;
	margin:0;
}
h2 {
	font-size: 40px;
	text-align: center;
	margin: 0;
}

h3 {
	font-size: 30px;
	text-align: center;
	margin: 0;
}
.blur {
	backdrop-filter: blur(0.6px);
	height: 100vh;
	width: 100%
}
*/