* {
	margin: 0;
}
/**color palette: sky_grassland_cloud
insect_flora_membrane_winged_insect_colorpalette_xiy9a**/;
@font-face {
	font-family: "Kalam",
	src: url("./fonts/Kalam-Bold.ttf") format("ttf");
}

body, html {
	color:#2b3310;
	background-color:#f0e9b9;
	font-family: 'Kalam', cursive;
	max-width: 1000px;
	width: 100%;
	margin: auto;
	justify-content: center;
	align-content: center;
}
.navbar {
	position: relative;
	margin-top:0;
	width: 100%;
	overflow: hidden;
	display: flex;
	background-color: #10160f; 
	justify-content: center;
	font-size: 30px;
}
.navbar a {
	color: #f0e9b9;
	padding: 0px 15px;
	text-decoration: none;
	text-align: center;
}
/** change color on hover**/
.navbar a:hover {
	background-color: #f0e9b9;
	color: #10160f;
}
.headerimg > img {
	width: 100%;
	height: auto;
}
@media screen and (max-width:800px){
	.headerimg > img {
		width: 100%;
		height: auto;
	}
} 
h1 {
	font-size: 36px;
	justify-content: center;
	color: #635331;
	padding:5px;
}
h2 {
	font-size: 30px;
	color: #808d2c/**c7d638**/;
	padding: 5px;
}
h3 {
	font-size: 30px;
	color: #69b3b6;
	padding-bottom: 5px;
	padding-top: 15px;
	padding: 5px;
}
p {
	font-size: 22px;
	justify-content: center;
	text-align: left;
	line-height: 1.5;
}
#tags {
	color:#808d2c;
	font-style: italic;
	font-style: bold;
	text-align: center;
}
.column {
	float: left;
}
.column.left {
	width: 62%;
}
.column.right{
	width: 30%;
	padding: 10px;
	background-color: #a6bb98 /**e4e048/**#c7e6f6*/;
	float: right;
}

@media screen and (max-width: 800px) {
	.column, .column.left, .column.right {
		display: flex;
		flex-wrap: wrap;
		width: 95%;
	}
}
.blur {
	background-filter:blur(0.6px);
/**	backdrop-filter: blur(0.6px);**/
	height: 100vh;
	width: 100%;
}
.beforeFoot {
	padding:10px;
}
#footer {
	clear: both;
	background-color:#a6bb98; 
	color: #808d2c;
	font-size: 16px;
	align-items: center;
	position: relative;
	height: 50px;
	margin-top: -200px;
}

/*@media screen and (max-width: 850px) {
	.navbar {
		margin: 0px;
		position: absolute;
		width: 100%;
			}
}
 
.column {
	float: left;
/** iwant to change the background color, but only for the edu template
	background-color: #ececbe;/f3f3bd**/
/*.column.left {
	width: 75%;
}
.column.right {
	width: 25%;
}
@media screen and (max-width: 600px) {
	.column.left, .column.right {
		width: 100%;
	}
}

h1{
	font-size: 56px;
	text-align: center;
	margin:0;
}
h2 {
	font-size: 40px;
	text-align: center;
	margin: 0;
}

h3 {
	font-size: 30px;
	text-align: center;
	margin: 0;
}
*/